<button
  type="submit"
  data-add-to-cart
  name="add"
  class="add-to-cart sf__btn flex-grow shrink not-change relative {{ class }} {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}"
  data-atc-text="{{ 'products.product.add_to_cart' | t }}"
>
  <span class="atc-spinner inset-0 absolute items-center justify-center">
    <svg class="animate-spin w-[20px] h-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </span>
  <span class="not-change atc-text">
    {% if product.selected_or_first_available_variant.available %}
      {{ 'products.product.add_to_cart' | t }}
    {% else %}
      {{ 'products.product.sold_out' | t }}
    {% endif %}
  </span>
</button>
